name: Do a Duolingo lesson

on:
  workflow_dispatch:
    inputs:
      lessons:
        default: 1
        description: 'Number of lessons to be done'
        required: false
        type: number

env:
  DUOLINGO_JWT: ${{ secrets.DUOLINGO_JWT }}

jobs:
  study:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: node index.js
        env:
          LESSONS: ${{ inputs.lessons }}
